body { 
	background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
	
}

header { 
	background-color: #9BC1C2; 
    background-image: url(../images/lilyheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav > ul{ 
	
     font-weight: bold;
	 list-style-type: none; 
	 margin: 0%;
	 padding: 0%;
}


footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
	padding: .5em;
}
address{
	margin-bottom: .5em;
}
main > ul{
	list-style-image: url(../images/yogabullet.png);
	margin-left: 3em;
}
.schedule{
	border: 1px solid black;
	width: 100%;
	margin-bottom: .5em;
	border-collapse: collapse;

}
tr > td{
	border: 1px solid black;
	text-align: center;
}

/*mobile styles*/
@media only screen and (max-width: 641px){
	nav{
		display: block;
	}
	header{
		background-image: none;
	}
	body{
		background-image: url(../images/yogamobile.png);
		clear: both;
		
	}
}
/*=====================
====Tablet styles*/

@media only screen and (min-width: 642){
	nav{
		display: inline;
		background-color: #f5f5f5;

	}
}
