@font-face {
    font-family: 'montserratblack_italic';
    src: url('montserrat-blackitalic-webfont.woff2') format('woff2'),
         url('montserrat-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
